# Created by .ignore support plugin (hsz.mobi)
.idea
*.iml
target/
/betterdistricts-site/src/main/javascript/node/
/betterdistricts-site/src/main/javascript/node_modules/
/betterdistricts-site/src/main/resources/static/dist/
