<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/homeLayout}">
<head>
  <title>Generic Site Login</title>
</head>
<body>

<div layout:fragment="content">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <div class="card">
        <div class="card-header bg-dark text-light">
          <h3 class="card-title">Login</h3>
        </div>
        <div class="card-body form-group">
          <form action="/login" method="post">
            <table>
              <tr>
                <td class='login-label'>Email:</td>
                <td>
                  <input type="text" class="form-control" id="username" name="username" placeholder="Email" required/>
                </td>
              </tr>
              <tr>
                <td>Password:</td>
                <td>
                  <input type="password" class="form-control" id="password" name="password" placeholder="Password" required/>
                </td>
              </tr>
              <tr>
                <td>Remember Me:</td>
                <td><input type="checkbox" id="remember-me" name="remember-me"/></td>
              </tr>
              <tr>
                <td colspan="2" class="submit-wrapper">
                  <input type="submit" class='btn btn-success' value='Login'/>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div layout:fragment="loadscript">

</div>

</body>
</html>
