<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <object th:include="fragments/header :: headFragment" th:remove="tag"/>
  <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Generic Site</title>

  <link th:if="${buildVersion.isDev()}" rel="stylesheet" type="text/css" href="http://localhost:9090/css/home.css"/>
  <link th:unless="${buildVersion.isDev()}" rel="stylesheet" type="text/css" href="/dist/css/home.css"/>
</head>
<body>
<div class="container">
  <div class="header clearfix">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Generic Site</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
          </li>
        </ul>
      </div>
    </nav>

  </div>

  <div class="container">
    <div layout:fragment="content">
      <h1>Static content for prototyping purposes only</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
      </p>
    </div>
  </div>
</div>

<div th:replace="fragments/analytics :: tracker"></div>

<div layout:fragment="loadscript">
  LoadScript
</div>

</body>
</html>
