<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <!--/*  Each token will be replaced by their respective titles in the resulting page. */-->
  <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Generic Site</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <meta name="git-version" th:content="${buildVersion.getGitVersion()}" />
  <meta name="git-branch" th:content="${buildVersion.getGitBranch()}" />
  <meta name="mvn-version" th:content="${buildVersion.getMvnVersion()}" />

  <script th:if="${buildVersion.isDev()}" src="http://localhost:9090/dist/vendor.js"></script>
  <script th:unless="${buildVersion.isDev()}" src="/dist/vendor.js"></script>

  <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap.css"/>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap/bootstrap-theme.css"/>
</head>
<body>
<div class="container">
  <div class="header clearfix">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/login">Login</a></li>
      </ul>
    </nav>
    <h3 class="text-muted"><a href="/">Generic Site</a></h3>
  </div>

  <div class="container">
    <div layout:fragment="content">
      <!-- ============================================================================ -->
      <!-- This content is only used for static prototyping purposes (natural templates)-->
      <!-- and is therefore entirely optional, as this markup fragment will be included -->
      <!-- from "fragments/header.html" at runtime.                                     -->
      <!-- ============================================================================ -->
      <h1>Static content for prototyping purposes only</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Praesent scelerisque neque neque, ac elementum quam dignissim interdum.
        Phasellus et placerat elit.
      </p>
    </div>
  </div>
  <!-- <footer class="footer">
     <p>&copy; 2016 <a href="http://www.jbmlabs.com/">JBMLabs, Inc.</a></p>
   </footer>
  -->
</div>
</body>
</html>
